.abc1 {
  margin: 0;
  height: 49px;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.fickleflight-logo-container,
.fickleflight-logo1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.fickleflight-logo1 {
  align-self: stretch;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-7xl);
}
.fickleflight-logo-container {
  width: 174px;
  flex-direction: column;
  padding: var(--padding-sm-8) 0 0;
}
.explore1,
.hotels1,
.offers1,
.search1 {
  position: relative;
  display: inline-block;
}
.explore1 {
  color: var(--color-cornflowerblue);
  min-width: 47px;
}
.hotels1,
.offers1,
.search1 {
  min-width: 43px;
}
.hotels1,
.offers1 {
  min-width: 41px;
}
.offers1 {
  min-width: 39px;
}
.navigation-menu1 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-roboto);
}
.hamburger-menu-icon1 {
  display: none;
}
.hamburger-menu-icon1,
.notification-bell-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.profile-picture-icon1 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 28.8px;
  height: 36px;
  object-fit: cover;
}
.profile-background1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  border-radius: var(--br-12xl);
  background-color: var(--color-darkorange-200);
  width: 36px;
  height: 34.1px;
  z-index: 1;
}
.profile1 {
  height: 36.6px;
  width: 36px;
  position: relative;
}
.account-section1,
.button2,
.navigation-right1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button2 {
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.account-section1,
.navigation-right1 {
  align-items: center;
  gap: var(--gap-xs);
}
.navigation-right1 {
  width: 400px;
  justify-content: flex-end;
  gap: var(--gap-17xl);
  max-width: 100%;
}
.top-container1,
.top-header1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.top-container1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.top-header1 {
  align-self: stretch;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  justify-content: flex-start;
  padding: var(--padding-4xs-2) var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
.title-11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 72px;
  font-weight: 600;
  font-family: inherit;
}
.title-21 {
  width: 557px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-weight: 500;
  color: var(--color-dimgray-100);
  display: inline-block;
  max-width: 100%;
}
.titles1 {
  width: 618px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-30xl);
  min-width: 618px;
  max-width: 100%;
}
.approve-image-icon {
  height: 500px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.approve-image,
.header-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.approve-image {
  width: 500px;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 500px;
}
.header-content1 {
  width: 1392px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-container1,
.header-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.header-container1 {
  background-color: var(--color-aliceblue-200);
  align-items: center;
  padding: var(--padding-21xl) var(--padding-xl);
  box-sizing: border-box;
}
.header-section2 {
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1400px) {
  .top-header1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .approve-image,
  .approve-image-icon,
  .titles1 {
    flex: 1;
  }
  .header-content1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 925px) {
  .navigation-menu1 {
    display: none;
  }
  .navigation-right1 {
    width: 140px;
  }
  .title-11 {
    font-size: var(--font-size-32xl);
    line-height: 58px;
  }
  .titles1 {
    gap: var(--gap-5xl);
  }
  .approve-image,
  .titles1 {
    min-width: 100%;
  }
  .header-container1 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navigation-right1 {
    gap: var(--gap-lg);
  }
  .title-11 {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
}
